@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  scroll-behavior: smooth;
} */

/* 
::-webkit-scrollbar{
  height: 10px;
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: rgb(190, 190, 196);

}
::-webkit-scrollbar-thumb{
  background-color: rgb(7, 7, 6);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: rgb(56, 44, 25);
  border-radius: 15px;
} */

#container {
  width: 1000px;
  margin: 20px auto;
}
.ck-editor__editable[role="textbox"] {
  /* editing area */
  min-height: 400px;
}
.ck-content .image {
  /* block images */
  max-width: 80%;
  margin: 20px auto;
}